#table_container {
  /* display: table-cell; */
  flex-direction: row;
  text-align: center;
  padding: 52px;
  margin-left: 100px;
  margin-top: 5px;
}

img {
  max-width: 150px;
  max-height: 150px;
}

.table-container {
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.tableContent {
  overflow-y: scroll;
  border-radius: 20px;
  background-color: #fefefe;
  margin: 17% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 52%;
  max-height: 49%;
  width: 52%;
  height: 49%;
  text-align: center;
  gap: 10px;
}

.tableContent::-webkit-scrollbar {
  display: none;
}

.item-list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}



/*========== BUTTONS ==========*/
.removeButton {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.removeButton:hover {
  background-color: var(--first-color-alt);
}
.removeMenu__button {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 0.625rem 0.813rem;
  border-radius: 0.5rem 0 0.5rem 0;
}
